*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before, *:after{
  box-sizing: inherit;
}
html,body{
  background: #000;
}
main,
footer{
  display: block;
}
main{
  background: #CFCFCF;
  width: 80%;
  margin: 10% auto 0;
  padding: 5% 6%;
  display: flex;
  border-radius: 6px;
  border: solid 2px #B8B8BA;
}
.screen,
.pads{
  width: 50%;
  padding: 20px;
}
.screen{
  border-radius: 2px;
  background: #000;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.screen video{
  border: solid 2px #0B316F;
  background: #124F9D;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.screen:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  background: rgba(255,255,255,0.15);
  top: -300px;
  right: -250px;
  z-index: 1000;
  transform: rotate(-45deg);
}
.pads{
  background: #90959B;
}
.pads button{
  -moz-appearance: none;
  border: none;
  background-color: #8B8B8B;
  width: 47%;
  /* height: 29%; */
  height: 25%;
  margin-bottom: 6%;
  border-radius: 3px;
  box-shadow: 
  inset 1px 1px 0 1px #A6AAAD,
  inset -1px -1px 0 1px #717274,
    0 0 0 2px #1D2124;
}
.pads button:nth-child(even){
  margin-left: 6%;
}